@charset "utf-8";

*{
    padding: 0px;
    margin: 0px;
    
}

main{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-attachment: fixed;

}

section#telefone{
    width: 311px;
    height: 627px;
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tela{
    position: relative;
    left:23px;
    top:82px;
}
iframe{
    width: 262px;
    height: 469px;
}

section#icones img{
    width: 50px;
    border-radius: 50%;
    margin: 10px;
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.473);
    box-sizing: border-box;
    
}
section#icones{
    text-align: right;

}

section#icones img:hover{
    border: 1px solid rgba(255, 255, 255, 0.445);
    transform: translate(-5px, -5px);
    transition: transform 0.35s;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.600);
    

}