@charset "utf-8";

*{
    padding: 0px;
    margin: 0px;
    
}

main{
    width: 100vw;
    height: 100vh;
    position: relative;
    background-image: url(../imagens/fundo-madeira.jpg);
    background-size: cover;
    background-attachment: fixed;

}

section#telefone{
    width: 311px;
    height: 627px;
    background-image: url(../imagens/frame-iphone.png);
    background-repeat: no-repeat;
    position: absolute;
    top:50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#tela{
    position: relative;
    left:23px;
    top:82px;
}
iframe{
    width: 262px;
    height: 472px;
}